@import '.././mixins/common';

.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 240px;
	background-color: #005B82;
	margin-top: 60px;
	background: -webkit-linear-gradient(#1F2534, #363D4E); /* Safari 5.1 - 6.0 */
  background: -moz-linear-gradient(#1F2534, #363D4E); /* Firefox 3.6 - 15 */
  background: linear-gradient(#1F2534, #363D4E); /* 标准的语法 */
  color: #fff;
  a {
  	color: #fff;
  }

  @include bemE(selected) {
  	background-color: rgba(0, 0, 0, 0.1);
  	color: #fff!important;
  	border-left: 3px solid #F3FEC0;
  }

  @include bemE(title) {
  	padding: 0px 24px;
  	display: block;
  	line-height: 40px;
  	width: 100%;
  	display: block;
  	border-left: 3px solid transparent;
		&.type-home {
			font-size: 16px;
			.icon {
				background-image: url(../../img/icon/sidebar_home_1.png);
			}
		}
		&.type-finance-1 {
			.icon {
				background-image: url(../../img/icon/sidebar_finance_3_1.png);
			}
		}

		&.type-finance-2 {
			.icon {
				background-image: url(../../img/icon/sidebar_finance_2_1.png);
			}
		}

		&.type-finance-3 {
			.icon {
				background-image: url(../../img/icon/sidebar_finance_3_1.png);
			}
		}

		.arrow {
			width: 16px;
			height: 16px;
			background-size: 16px;
			background-repeat: no-repeat;
			background-image: url(../../img/icon/sidebar_arrow_1.png);
			float: right;
			margin-top: 12px;
		}
		.text {
			text-indent: 6px;
			display: inline-block;
			vertical-align: middle;
		}
  	.icon {
  		width: 24px;
  		height: 24px;
  		background-size: 24px;
  		background-repeat: no-repeat;
  		display: inline-block;
  		vertical-align: middle;
  	}
  }

  @include bemE(menu) {
  	@include bemM(open) {
  		.sidebar--menu--head {
  			color: #fff;
  		}
  		.arrow {
  			background-image: url(../../img/icon/sidebar_arrow_2.png);
  		}
  		.type-finance-1 {
				.icon {
					background-image: url(../../img/icon/sidebar_finance_3_1.png);
				}
			}
			.type-finance-2 {
				.icon {
					background-image: url(../../img/icon/sidebar_finance_2_1.png);
				}
			}
			.type-finance-3 {
				.icon {
					background-image: url(../../img/icon/sidebar_finance_3_1.png);
				}
			}
			.sidebar--menu--item {
				display: block;
			}
  	}
  	.sidebar--head {
  		font-size: 14px;
  	}
  	@include bemE(item) {
  		line-height: 30px;
  		font-size: 12px;
  		padding: 0px 24px;
  		text-indent: 33px;
	  	width: 100%;
	  	display: block;
	  	border-left: 3px solid transparent;
  		display: none;
  		&:hover {
	  		color: #1F2534;
	  		background-color: #B5BCCC;
	  	}
  		&.selected {
  			color: #1F2534;
	  		background-color: #B5BCCC;
	  		border-left: 3px solid #00AEEF;
  		}
  	}
  }
}