<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="vue.js"></script>

    </head>
    <body>
        <div id="app">
            <h1 >{{message}},add_message={{new_msg}}</h1>
            <!-- debounce 延时-->
            <input type="text" v-model="message" number debounce="500">
            <!--调用方法-->
            <button v-on:click="reverseMessage">Reverse Message</button>
            <ul>
                <!--1.0循环 和php相反-->
                <li v-for="value in names">{{value.a}}</li>
            </ul>
            <pre>{{$data|json}}</pre>
        </div>

        <script >
            var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue.js!',
                    names: [{'a': 1, 'b': 2}, {'a': 1, 'b': 2}]
                },
            //    封装的方法
                methods: {
                    reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                        alert("ddd")
                    },
                    addName: function () {
                        this.names.push({'a': this.message});
                    }
                },
            //计算属性    
                computed: {
                    new_msg: function () {
                        return this.message + " add"
                    }
                }
            })

            vm.$watch('message', function (val) {
            //这样就死循环了。。。。
                this.new_msg = val + " watch"
            })
        </script>
    </body>

</html>
