
body {
	background-image:  url(../../img/page/login_bg.jpg);
	background-size: cover;
}
.login-content {
	width: 460px;
	height: 460px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -230px;
	margin-left: -216px;
	background-color: #F2F5F8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;

	.title {
		width: 100%;
		height: 144px;
		>img {
			height: 144px;
		}
	}

	.btn-submit {
		background-color: #68ACCE;
		color: #fff;
		font-size: 18px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		width: 100%;
		line-height: 48px;
		height: 48px;
		border: 0px;
		cursor: pointer;
		&:hover,&.click {
			background-color: #2993C7;
		}
	}
	.container {
		padding: 0px 30px;
		.item {
			height: 48px;
			line-height: 48px;
			position: relative;
			.icon {
				position: absolute;
			}
			.input-text {
				line-height: 44px;
				height: 44px;
				text-indent: 44px;
				border: 2px solid #C6CCD1;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				font-size: 16px;
				width: 100%;
				background-position: 15px center;
				background-repeat: no-repeat;
			}

		}
		.item-spacing {
			margin-top: 30px;
		}
		.item-email {
			.input-text {
				background-image: url(../../img/icon/email_1.png);
			}
		}
		.item-lock {
			.input-text {
				background-image: url(../../img/icon/lock_1.png);
			}
		}
		.item-remember {
			color: #808080;
			padding-top: 10px;
		}
		.forget {
			color: #C6CCD1;
			float: right;
		}
		.item-submit {
			.error {
				position: absolute;
				color: red;
				left: 0px;
				right: 0px;
				text-align: center;
				line-height: 12px;
				top:-24px;
			}
		}
	}
}