/*
 *   与css不同import
 *   1、放在代码最前面
 *   2、对性能不利
 *   合并输出
    原生的import
    1、以.css结尾
    2、http://开头
    3、url()
    4、media queries
*/ 
@import "variable" ,"mixin","variable" ;
/*默认属性*/
/*@import "compass/reset";*/

//使用变量
div{
    display: fixed;   
    color: $blue;
    width:100px;     
}

.main{
    .div{
        font-family: Arial;
    }
    /*父类指针*/
    &:hover{
        color:blue;
    }
}
.main-sec{
    font:{
        family:Arial;
        size:(10px/2);
    }
}

p{
    color:hsl(270,100%,50%);
}

.web-sec{
    @include col-6();
    @include col(35%);
}
.test-main{
    //生成还是在外面
    @at-root{
    .main-head{
        color:#fff;
    }
    .main-detail{
        color:red;
    }    
    }
}
.err{
    color:#f00;
}
.serious-err{
    /*继承某个类*/
    @extend .err;
    border: 1px;
}
/*
函数： 
1、跟代码无关的函数， 多是自己内置函数，称为functions
2、可重用的代码块，称mixin
    include方式调用 就是C语言里面的宏

变量支持运算
*/