<!DOCTYPE html>
<!--
    测试v-if
  -->
  <html>
  <head>
    <title>if测试用例</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <style >
      .cls1{
        font-size: 50px;
      }
      .cls2{
        color:red;
      }
      /* 必需 */
      .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
      }

      /* .expand-enter 定义进入的开始状态 */
      /* .expand-leave 定义离开的结束状态 */
      .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 v-if="tif" transition="expand">Yes</h1>
      <h1 v-else>No</h1>
      <!--多个一起用template抱起来-->
      <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>
      页面还是会展示
      <h1 v-show="tshow">Yes</h1><!--display:none-->
      <button @click="greet">ssss</button>
    </div>

    <script >
      var vm = new Vue({
        el: '#app',
        data: {
          cls1: 'cls1',
          cls2: 'cls2',
          tif: 0,
          ok:true,
          tshow:true,
//                    transitionName: 'expand'
},
methods: {
  greet: function () {
    this.tif = !this.tif;
//                        this.tshow=!this.tshow;
}
}
})

</script>
</body>

</html>
