<!DOCTYPE html>
<!--
    测试v-for
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="vue.js"></script>

    </head>
    <body>
        <div id="app">
            <!--为什么有些要$符号，有些没有呢-->
            <h1>{{message}}</h1>
            <input type='text' v-model="message">
            <pre>{{$data | json}}</pre>
        </div>

        <div id="app2">
            <ul>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ul>
        </div>
        <!--        顺序-->
        <script >
new Vue({
    el: '#app',
    data: {
        message: "hello world"
    }
});

new Vue({
    el: '#app2',
    data: {
        todos: [
            {text: 'Learn JavaScript'},
            {text: 'Learn Vue.js'},
            {text: 'Build Something Awesome'}
        ]
    }
})
        </script>
    </body>

</html>
