@import '.././mixins/common';
* {
  box-sizing: border-box;
}

body, html {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "San Francisco", "Helvetica Neue", Helvetica, STHeiTi, Roboto, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Arial, sans-serif;
  font-size: 14px;
 	color: #404040;
}

input,a,button {
	outline: none;
}
body {
	background-color: #EFF3F6;
}
a {
	text-decoration: none;
	cursor: pointer;
	&:hover, &:visited, &:focus, &:active {
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,div,p,ul,li {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}
.text-align {
	text-align: center;
}
.content {
	min-width: 1200px;
	margin-top: 60px;
	@include bemE(wrap) {
		margin-left: 240px;
		padding: 20px 16px;
	}
}

// .table {
// 	width: 100%;
// 	background-color: #fff;
// 	border: 1px solid #E8E8E8;
// 	font-size: 14px;
// 	margin-bottom: 0px;
// 	thead {
// 		background-color: 
// 	}
// 	thead>tr>th {
// 		font-weight: 400;
// 		border-bottom: 0px;
// 	}
// 	tbody>tr>td,>thead>tr>th{
// 		border-top:1px solid #E8E8E8;
// 	}

// }

