/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-9-8, 21:32:09
    Author     : John
*/
/*h1默认不会贴紧顶部*/
body,div,h1 {
    margin:0px;   
    padding:0px; 
}
ul{
    display: block;
}
li{
    list-style:none;
    box-sizing: border-box;
    padding-top: 20px;
}
h1{ 
    border: 1px;   
}

.header{
    top: 0px;
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
    color: #fff;
    height: 231px;
}
img{
    /*图片居中显示*/
    width: 100%;
}
.img1{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.avatar{
    margin: 25px auto 0;
    width: 72px;
    height: 72px;
    border-radius: 37px;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    overflow: hidden;
}
.text{
    text-align: center;
    width: 100%;
}

.name{
    font-size: 17px;
    line-height: 24px;
    margin-top: 12px;
}
.sign-name{
    line-height: 16px;
    font-size: 12px;
    height: 33px;
}

.num-focus{
    position: absolute;
    left: 12px;
    bottom: 15px;
    z-index: 1;
}

.btn-focus{
    position: absolute;
    right: 10px;
    /*bottom: 15px;*/
    width:  80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #5aadeb;
    border-radius: 3px;
}

.activity-type-swither{
    height: 44px;
    line-height: 45px;
    text-align: center;
    margin-top: 1px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    .div-nav-1,.div-nav-2{
        display: inline-block;
        width: 49%;
        /*color: #55acee;*/
        span{
            display: inline-block;
            /*border-bottom: 2px solid #5aaeee;*/
        }
    }
}

.classA{
    color: #55acee;
    border-bottom: 2px solid #5aaeee;
} 

.classB{
    color: #000;
    border-bottom: 2px solid #fff;
}
.li-time{
    padding:0px;
    margin-left:-14px;
    margin-right: -35px;
    .day{
        font-size: 14px;
        line-height: 14px;
    }
    .stime{
        font-size: 12px;
        line-height: 12px;
    }
    .xq{
        border:1px solid #55acee;
        border-radius: 1px;
        color: #55acee;
        font-size: 10px;
        height: 18px;
        text-align: center;
        width: 30px;
        margin-top: -5px;
    }
}

.middle{
    position:relative;
    .icon{
        width: 57px;
        position: absolute;
        height: 57px;
    }
    h3{
        margin:0 60px 0 65px;   
        font-size: 15px;
        line-height: 21px;
    }
    p{
        margin:2px 10px 0 65px;
        font-size:12px;
        line-height: 16.5px;
        color:#8899a6;
    }
}
.l-icon{
    position: relative;
    color:#fff;
    width: 60px;
}

.line{
    width: 100%;
    height: 10px;
            border-bottom: 1px solid rgba(0,0,0,.05);
}